:root {
    /* --c-brand: #3D5919; */
    /* --c-brand: #183d59; */
    --c-brand: #6D8252;
    --c-brand-light: #183d59;
    /* --c-brand-light: #195955; */
    --font-family-base: sans-serif;
}

.home-button {
    background-color: #6D8252;
    border-radius: 5%;
    border: none;
    margin: 1% 1% 5% 1%;
    padding: 0 2% 0 2%;
}

.home-button:hover {
    background-color: #183d59;
}

.home-button p {
    color: whitesmoke;
    font-size: large;
}

@media only screen and (max-width: 640px) {
    .table-wrapper {
        /* background-color: yellow; */
        overflow-x: none;
        width: 100%;
    }

    table {
        width: 100%;
        overflow-x: scroll;
    }

    .table-col-two {
        width: 100%;
    }

    th:nth-child(even) {
        padding: 0;

    }
    
    .table-col-one {
        max-width: 100px;
        height: auto;
    }


}