:root {
    --font-family-base: sans-serif;
}

.page, .home, body {
    background-color: var(--background-color-primary);
    /* height: 100%;
    height: 90vh; */
    /* border: 2px solid red; */
    
}

.nav-bar {
    background-color: var(--bg-color-footer) !important;
}

div.VPNavBarAppearance.appearance {
    display: none;
}
.table-wrapper, .home {
    /* border: 2px solid red; */
    height: 90vh;
    position: relative;
    margin-bottom: 300px;
}

.aside {
    display: none !important;
}

.VPButton.medium.brand:hover {
    background-color: var(--vp-button-brand-hover);
    /* color: var(--vp-button-alt-text); */
    border-color: var(--vp-button-brand-border);
} 

.VPButton.medium.alt:hover {
    background-color: var(--vp-button-alt-hover);
    color: var(--vp-button-brand-text);
}

.btn-footer-div {
    /* border: 2px solid yellow; */
    height: 25vh;
    text-align: center;
    position: relative;
}

#home-footer-div {
    background-color: var(--bg-color-footer);
    width: 79%;
    margin-left: 10%;
}

.footer-text-div {
    display: flex;
    justify-content: center;
    /* text-align:center;  */
    /* position: fixed;  */
    width: 100%;
    position: sticky;
    bottom: 0px;
    /* margin-left: 20%; */
    margin-top: 50px;
    background-color: var(--bg-color-footer)
    
}

footer, .page-footer {
    /* background-color: yellow; */
    height: 0px;
    display: none !important;
}

.footer-text {
    /* background-color: yellow; */
    text-align: center;
}

@media only screen and (max-width: 640px) {
    .table-wrapper {
        /* background-color: yellow; */
        overflow-x: none;
        width: 100%;
        height: 100%;
    }

    table {
        width: 100%;
        overflow-x: scroll;
    }

    .table-col-two {
        width: 100%;
    }

    th:nth-child(even) {
        padding: 0;

    }
    
    .table-col-one {
        max-width: 100px;
        height: auto;
    }

    .footer-text-div, .home .footer-text-div {
        margin: 0px;
        /* text-align: center; */
    }

}

@media (prefers-color-scheme: light) {
    :root {

        --background-color-primary: #f4f2f2;
        --background-color-primary: white;
        --text-color-light: #ddd;
        --bg-color-footer: lightgray;
        /* --c-brand: #195955; */
        --vp-home-hero-name-color: #588124;
        --vp-c-text-1: #245881;
        --vp-c-brand: #588124;

        --vp-button-brand-bg: #588124;
        --vp-button-brand-border: #588124;
        --vp-button-brand-text: white;
        --vp-button-brand-hover: #812458;

        --vp-button-alt-bg: white;
        --vp-button-alt-border: #588124;
        --vp-button-alt-text: #588124;
        --vp-button-alt-hover: #812458;
    }

    .green {
        display: none;
    }

    .blue {
        display: inline;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
      --background-color-primary: black;
      --c-bg: #15202B;

      --accent-color: #588124;
      --text-primary-color: #ddd;
      --bg-color-footer: #223345;

      --vp-home-hero-name-color: #588124;
      --vp-c-text-1: whitesmoke;
      --vp-c-brand: #73A92F;

      --vp-button-brand-bg: #588124;
      --vp-button-brand-border: #588124;
      --vp-button-brand-text: white;
      --vp-button-brand-hover: #812458;

      --vp-button-alt-bg: white;
      --vp-button-alt-border: #588124;
      --vp-button-alt-text: #588124;
      --vp-button-alt-hover: #812458;
    }

    .blue {
        display: none;
    }

    .green {
        display: inline;
    }
}